.header-wrap {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 80px;
  line-height: 80px;
  background: rgb(7 11 32 / 0%);
  &.scroll {
    background: rgb(255 255 255 / 100%);
  }
  .nav {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
    .left {
      display: flex;
      align-items: center;
      .logo {
        width: 140px;
      }
    }
    .right {
      .nav-item {
        display: inline-block;
        height: 80px;
        margin-left: 60px;
        color: #fff;
        font-weight: 600;
        font-size: 16px;
        line-height: 80px;
        &.scroll {
          color: #333;
        }
        &.active {
          border-bottom: 2px solid #f5222d;
        }
      }
    }
  }
}
