.header-wrap {
  display: flex;
  width: 100%;
  height: 64px;
  line-height: 64px;
  background-color: '#4096ff';

  .nav {
    width: 1200px;
    margin: 0 auto;

    .nav-item {
      display: inline-block;
      height: 60px;
      margin-left: 60px;
      line-height: 60px;

      &.active {
        border-bottom: 2px solid #f5222d;
      }
    }
  }
}
